.cover__subtitle {
  z-index: 20;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  margin: auto;
  text-align: center; 
  position: absolute;
  max-width: 360px;
  top: 429px;
  left: 412px;
}

@media screen and (max-width: 1279px) {
  .cover__subtitle {
    top: 379px;
    left: 332px;
  }
}

@media screen and (max-width: 1023px) {
  .cover__subtitle {
    top: 299px;
    left: 204px;
  }
}

@media screen and (max-width: 767px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 16px;
    top: 119px;
    left: 16px;
    max-width: 288px;
  }
}