.cover__subtitle {
  z-index: 20;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  margin: auto;
  text-align: center; 
  position: absolute;
  margin-left: 34.5%;
  margin-right: 34.5%;
  color: white;
  top: 429px;
}

@media screen and (max-width: 1279px) {
  .cover__subtitle {
    top: 379px;
    margin-left: 33.5%;
    margin-right: 33.5%;
  }
}

@media screen and (max-width: 1023px) {
  .cover__subtitle {
    top: 299px;
    margin-left: 28%;
    margin-right: 28%;
  }
}

@media screen and (max-width: 767px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 16px;
    top: 119px;
    margin-left: 9%;
    margin-right: 9%;
  }
}