.place__website {
  max-width: 456px;
  margin: 0;
  align-self: flex-end;
  margin-bottom: 48px;
}

@media screen and (max-width: 1023px) {
  .place__website {
    max-width: 352px;
  }
}

@media screen and (max-width: 767px) {
  .place__website {
    display: none;
  }
}